

#app {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    color: #484444;
    margin-top: 0px;
}




.center {
    text-align: center;
}

a {
    text-decoration: none; /* Para quitar el subrayado predeterminado */
    color: #942682; /* Cambia el color a tu preferencia */
}

a:hover {
    text-decoration: none;
}


.card-no-border .left-sidebar, .card-no-border .sidebar-nav {
    background: #942682;
}

.bg-sjd-naranja {
    background-color: #ec6500;
}

.text-sjd-naranja {
    color: #ec6500 !important;
}

.bg-sjd-lila {
    background-color: #942682;
}

.text-sjd-lila {
    color: #942682 !important;
}

.bg-sjd-rojo {
    background-color: #FF0000;
}

.text-sjd-rojo {
    color: #FF0000 !important;
}

.difuminado {
    font-size: 1.0em;
    background: linear-gradient(45deg, #FF0000, #942682, #ec6500);
    -webkit-background-clip: text;
    color: transparent;
}










